
.blog-intro-header-divider{  /* Borrowed component, will maybe refactor later */
	margin-top: 108px;
}

.secondary-nav-location-bar{
	margin-top: 50px;
	margin-bottom: 43px;

	display: flex;
	justify-content: center;

	font-style: italic;
	font-size: 13px;
}

.secondary-nav-location-bar > *{
	margin-right: 5px;
}

.products-top-container{
	box-sizing: border-box;
	width: 100%;
	max-width: 1350px;

	margin: auto;

	padding-left: 15px;
	padding-right: 15px;

	display: flex;
	justify-content: center;
}