.products-category-options-container{
	width: 50px;

	border: solid 2px green;
}

.products-units-container{
	width: 50px;

	border: solid 2px yellow;
}

.products-category-options-container{
	width: 100%;
	max-width: 272px;
}

.category-menu-header{
	display: flex;
	justify-content: center;
	align-items: center;

	border-bottom: solid 1px black;
}