{% extends 'components/site_frame.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'navbar.js' %}"></script>

    <link rel="stylesheet" href="{% static 'subpages/order_history/order_history.css' %}">
{% endblock %}

{% block body %}
    {% include '../navbar.html' %}
    {% include '../divider_hr_title.html' with title="Pregled narudžbi" %}

    <div class="order-history-top-container">

        <div class="table-container">
            <table class="order-history-table">

                <thead>
                    <tr>
                        <th>Broj narudžbe</th>
                        <th>Datum</th>
                        <th>Ukupno artikala</th>
                        <th>Status</th>
                        <th>Iznos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr onclick="location.href ='/pregled_narudzbi/narudzba?id={{order.plain_id}}'">
                                <td><a href="/pregled_narudzbi/narudzba?id={{order.plain_id}}">{{order.id}}</a></td>
                                <td><a href="/pregled_narudzbi/narudzba?id={{order.plain_id}}">{{order.created_on}}</a></td>
                                <td><a href="/pregled_narudzbi/narudzba?id={{order.plain_id}}">{{order.items_count}}</a></td>
                                <td><a href="/pregled_narudzbi/narudzba?id={{order.plain_id}}">{{order.status}}</a></td>
                                <td><a href="/pregled_narudzbi/narudzba?id={{order.plain_id}}">{{order.total}} Kn</a></td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>

    {% include '../about_info_span.html'%}
    {% include '../footer.html' %}
    <script>
        load_navbar_listeners('noscroll');
    </script>
{% endblock %}