{% extends 'components/site_frame.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'navbar.js' %}" ></script>

    <link rel="stylesheet" href="{% static 'subpages/about/header_hero.css' %}">

    <link rel="stylesheet" href="{% static 'subpages/about/text_content.css' %}">

{% endblock %}

{% block body %}

    {% include '../navbar.html' %}
    {% include './header_hero.html' %}
    {% include '../divider_hr_title.html' with title="O Nama" %}
    {% include './text_content.html' %}

    {% include '../footer.html' %}

    <script>
        load_navbar_listeners('noscroll')
    </script>

{% endblock %}