{% load static %}

<div class="text-content-top-container">
    <div class="text-content-area">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan justo est. Phasellus lorem dui, porttitor sed mi sed, condimentum faucibus augue. Vestibulum in malesuada ante. Aliquam nec auctor dui, ut aliquam augue. Proin bibendum consequat leo vel facilisis. Nullam et pretium neque, vitae maximus ex. Mauris justo magna, dictum at est vel, rutrum iaculis metus.</p>

        <p>Integer porta metus posuere, bibendum nulla a, faucibus nibh. Suspendisse condimentum gravida feugiat. Sed elementum ut purus id euismod. Integer molestie, ipsum ac volutpat congue, nunc turpis sagittis orci, in sagittis sem lectus tempor urna. Morbi varius, est in faucibus lobortis, neque augue pellentesque nunc, vel malesuada ex est sit amet mauris. Aliquam in lacus nec leo aliquam interdum nec eu nibh. Aenean tortor ligula, ornare a tristique id, rhoncus a nulla.</p>

        <p>Morbi facilisis ligula id condimentum porta. Nunc gravida tempor turpis nec tristique. Nunc sed egestas ex. Integer lobortis ligula eu risus sodales sagittis. Integer congue efficitur sapien at blandit. Morbi sed blandit ipsum. Sed id imperdiet velit, sed iaculis neque. Nam euismod odio nibh, nec placerat sem finibus quis. Donec sed nisi eu elit tempus porttitor ut vitae nulla. In pulvinar ipsum tortor, non mattis risus dignissim sed. Proin lobortis augue risus, sed fringilla leo ultrices eu. Morbi tincidunt purus sed magna ornare semper.</p>
    </div>

    <div class="side-content-area">
        <div class="image-content-area">
            <img src="{% static 'resources/images/blog/pexels-pixabay-264537.jpg' %}" alt="products_img">
        </div>
        <span>Primjer dobara koje proizvodimo</span>
    </div>
</div>