{% extends 'components/site_frame.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'navbar.js' %}"></script>

    <link rel="stylesheet" href="{% static 'subpages/cart/cart.css' %}">

{% endblock %}

{% block body %}
    {% include '../navbar.html' %}

    <nav class="shopping-cart-order_process-nav">
        <ul class="shopping-cart-subnav">
            <li class="cart-subnav-active"><a href="#">Pregled Košarice</a></li>
            <li class="cart-subnav-divider"><span>></span></li>
            <li><a href="#">Podatci za dostavu</a></li>
            <li class="cart-subnav-divider"><span>></span></li>
            <li><a href="#">Potvrda narudžbe</a></li>
        </ul>
    </nav>

    <header class="cart-main-header">
        <h1 class="shopping-cart-h1">Vaša Košarica:</h1>
    </header>
    
    <div class="shoping_cart-top-content-container">

        <div class="shopping_cart-items-container">

            {% for item in cart %}
                <div class="shopping_cart-product_item-container">   <!-- Item unit start-->
                    <div class="cart-item-img-box">
                        <a class="cart-item-option_remove-ico" href="/proizvodi/viewitem/{{ item.seo_url }}">
                            <svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m256 512c-141.164062 0-256-114.835938-256-256s114.835938-256 256-256 256 114.835938 256 256-114.835938 256-256 256zm0-480c-123.519531 0-224 100.480469-224 224s100.480469 224 224 224 224-100.480469 224-224-100.480469-224-224-224zm0 0"/><path d="m176.8125 351.1875c-4.097656 0-8.195312-1.554688-11.308594-4.691406-6.25-6.25-6.25-16.382813 0-22.632813l158.398438-158.402343c6.253906-6.25 16.386718-6.25 22.636718 0s6.25 16.382812 0 22.636718l-158.402343 158.398438c-3.15625 3.136718-7.25 4.691406-11.324219 4.691406zm0 0"/><path d="m335.1875 351.1875c-4.09375 0-8.191406-1.554688-11.304688-4.691406l-158.398437-158.378906c-6.253906-6.25-6.253906-16.382813 0-22.632813 6.25-6.253906 16.382813-6.253906 22.632813 0l158.398437 158.398437c6.253906 6.25 6.253906 16.382813 0 22.632813-3.132813 3.117187-7.230469 4.671875-11.328125 4.671875zm0 0"/></svg>
                        </a>
                        <div class="product_image_container">
                            <a href="#">
                                <img src="{{ item.img.url }}" alt="product_in_cart-image">
                            </a>    
                        </div>
                    </div>

                    <div class="cart-item-info-box">
                        <span class="product-name-span">{{ item.name }}</span>
                        <span>Cijena: {{ item.price }} Kn</span>
                        
                    </div>

                    <div class="cart-item-quantity-controls">
                        
                        <button onclick="add_sub('add')" class="product-count-add-sub">+</button>
                        <div class="product-count-total"><span id="product-count-total">{{ item.quantity }}</span></div>
                        <button onclick="add_sub('sub')" class="product-count-add-sub">-</button>

                    </div>

                    <div class="cart-item-price_info-box">
                        <span>Ukupno:</span>
                        <span class="cart-product-total-cost-span"> {{ item.sum }} Kn</span>
                    </div>
                </div>   <!-- Item unit End-->
            {% endfor %}

        </div>

        <div class="shopping-cart-order-info-container">
            <header>Ukupno u košarici</header>

            <ul>
                <li>
                    <span class="table-header">Porezna osnovica:</span>
                    <span class="table-value">{{ base_sum }} Kn</span>
                </li>
                <li>
                    <span class="table-header">Porez:</span>
                    <span class="table-value">{{ vat }} Kn</span>
                </li>
                <li>
                    <span class="table-header">Dostava:</span>
                    <span class="table-value">{{ shipping_cost }} Kn</span>
                </li>
                <li>
                    <span class="table-total-header">Ukupno:</span>
                    <span class="table-total">{{ total }} Kn</span>
                </li>
            </ul>

            <div class="shopping-cart-cta-container">
                <button>Dovrši kupovinu</button>
            </div>

        </div>

    </div>

    {% include '../footer.html' %}

    <script>
        load_navbar_listeners('noscroll');

    </script>
{% endblock %}