{% extends 'components/site_frame.html' %}
{% load static %}

{% block head %}
<title>Podatci o dostavi | OPG_Plac</title>
    <script src="{% static 'navbar.js' %}"></script>
    <script src="{% static 'subpages/cart/checkout.js' %}" ></script>

    <link rel="stylesheet" href="{% static 'subpages/cart/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'subpages/cart/subnav.css' %}">

{% endblock %}

{% block body %}
    {% include '../navbar.html' %}
    {% include './subnav.html' with step="checkout" %}

    <div class="checkout-top-container">

        <h2>Potvrda narudžbe</h2>
        <div class="checkout-flex-container">
            <div class="items-overview-container">
                <header class="item-fields-description-header">
                    <ul>
                        <li>Artikl</li>
                        <li>Naziv artikla</li>
                        <li>Cijena</li>
                    </ul>
                </header>
                {% for item in cart %}
                    <div class="shopping_cart-product_item-container">   <!-- Item unit start-->
                        <div class="cart-item-img-box">
                            <a href="/proizvodi/viewitem/{{ item.seo_url }}">
                                <img src="{{ item.img.url }}" alt="product_in_cart-image">
                            </a>   
                        </div>

                        <div class="cart-item-info-box">
                            <span class="product-name-span">{{ item.name }}</span>
                            <span>Cijena: <strong>{{ item.quantity }}X </strong> {{ item.price }} Kn</span>
                            
                        </div>

                        <div class="cart-item-price_info-box">
                            <span>Ukupno:</span>
                            <span class="cart-product-total-cost-span"> {{ item.sum }} Kn</span>
                        </div>
                    </div>   <!-- Item unit End-->
                {% endfor %}

            </div>

            <div class="order-summary-container">
                <div class="summary-box">
                    <header>
                        <span>Podatci o narudžbi</span>
                    </header>

                    <div class="financial-summary-box">
                        <ul>
                            <li><span>Porezna osnovica: </span><span>{{ base_sum }} Kn</span></li>
                            <li><span>Iznos poreza: </span><span>{{ vat }} Kn</span></li>
                            <li><span>Trošak dostave: </span><span>{{ shipping_cost }} Kn</span></li>
                            <li class="financial-total-li"><span>Ukupno: </span><span class="financial-total-span">{{ total }} Kn</span></li>
                        </ul>
                    </div>

                    <div class="delivery-summay">

                        <div>
                            <ul>
                                <li>Kupac:</li>
                                <li>{{first_name}} {{last_name}}</li>
                                <li>{{address}}</li>
                                <li>{{post_code}} {{place}}</li>
                                <li>tel: {{phone}}</li>
                            </ul>
                        </div>

                        <div>
                            <ul>
                                <li>Isporuka:</li>
                                <li>{{delivery_first_name}} {{delivery_last_name}}</li>
                                <li>{{delivery_address}}</li>
                                <li>{{delivery_post_code}} {{delivery_place}}</li>
                                <li>tel: {{delivery_phone}}</li>
                            </ul>
                        </div>

                    </div>

                    {% if notice != "" %}
                        <div class="notice-area-container">
                            <header>Napomena:</header>
                            <div>
                                <span>{{notice}}</span>
                            </div>
                        </div>
                    {% endif %}
                    <div id="payment-options-container" class="payment-options-block">
                        <span>Odaberite način plaćanja</span>
                        {% for option in payment_options %}
                        <div>
                            <input value={{option.reference}} class="payment-option-radio" id="payment_opt_{{option.reference}}" name="paymentOption" type="radio">
                            <label class="tooltip-label">{{option.descriptive_name}}
                                {% if option.tooltip != "" %}
                                <div class="tooltip-trigger">
                                    <div data-tooltip="{{option.tooltip}}" class="payment-option-tooltip">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 23.625 23.625" style="enable-background:new 0 0 23.625 23.625;" xml:space="preserve">
                                        <path style="fill:#030104;" d="M11.812,0C5.289,0,0,5.289,0,11.812s5.289,11.813,11.812,11.813s11.813-5.29,11.813-11.813
                                        S18.335,0,11.812,0z M14.271,18.307c-0.608,0.24-1.092,0.422-1.455,0.548c-0.362,0.126-0.783,0.189-1.262,0.189
                                        c-0.736,0-1.309-0.18-1.717-0.539s-0.611-0.814-0.611-1.367c0-0.215,0.015-0.435,0.045-0.659c0.031-0.224,0.08-0.476,0.147-0.759
                                        l0.761-2.688c0.067-0.258,0.125-0.503,0.171-0.731c0.046-0.23,0.068-0.441,0.068-0.633c0-0.342-0.071-0.582-0.212-0.717
                                        c-0.143-0.135-0.412-0.201-0.813-0.201c-0.196,0-0.398,0.029-0.605,0.09c-0.205,0.063-0.383,0.12-0.529,0.176l0.201-0.828
                                        c0.498-0.203,0.975-0.377,1.43-0.521c0.455-0.146,0.885-0.218,1.29-0.218c0.731,0,1.295,0.178,1.692,0.53
                                        c0.395,0.353,0.594,0.812,0.594,1.376c0,0.117-0.014,0.323-0.041,0.617c-0.027,0.295-0.078,0.564-0.152,0.811l-0.757,2.68
                                        c-0.062,0.215-0.117,0.461-0.167,0.736c-0.049,0.275-0.073,0.485-0.073,0.626c0,0.356,0.079,0.599,0.239,0.728
                                        c0.158,0.129,0.435,0.194,0.827,0.194c0.185,0,0.392-0.033,0.626-0.097c0.232-0.064,0.4-0.121,0.506-0.17L14.271,18.307z
                                            M14.137,7.429c-0.353,0.328-0.778,0.492-1.275,0.492c-0.496,0-0.924-0.164-1.28-0.492c-0.354-0.328-0.533-0.727-0.533-1.193
                                        c0-0.465,0.18-0.865,0.533-1.196c0.356-0.332,0.784-0.497,1.28-0.497c0.497,0,0.923,0.165,1.275,0.497
                                        c0.353,0.331,0.53,0.731,0.53,1.196C14.667,6.703,14.49,7.101,14.137,7.429z"/>
                                        </svg>

                                    </div>
                                </div>
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                    </div>


                    <div class="order-confirm-submit-controls">
                        <div id="accept-terms-hacky-tooltip-container">
                            <div id="accept-terms-container" class="accept-terms-container">
                                <input id="accept-terms-chckbox" type="checkbox">
                                <a href="#">Prihvaćam opće uvjete korištenja</a>
                            </div>
                        </div>
                        <button onclick="submit_confirmation(event)">Potvrdi narudžbu</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

    {% include '../footer.html' %}
    <script>
        load_navbar_listeners('noscroll');
    </script>
{% endblock %}