{% extends 'components/site_frame.html' %}
{% load static %}

{% block head %}
<title>Podatci o dostavi | OPG_Plac</title>
    <script src="{% static 'navbar.js' %}"></script>
    <script src="{% static 'subpages/cart/delivery.js' %}" ></script>

    <link rel="stylesheet" href="{% static 'subpages/cart/delivery.css' %}">
    <link rel="stylesheet" href="{% static 'subpages/cart/subnav.css' %}">

{% endblock %}

{% block body %}
    {% include '../navbar.html' %}
    {% include './subnav.html' with step="delivery" %}

        <div class="deliver-form-top-container">
            <h2>Podatci o kupcu</h2>
            <form class="delivery-data-form">

                <div class="delivery-form-input-group">
                    <div id="name-container">
                        <label for="name">Ime:</label>
                        <input value="{{first_name}}" type="text" name="name" id=name>
                    </div>
                    <div id="surname-container">
                        <label for="surname">Prezime:</label>
                        <input value="{{last_name}}" id="surname" type="text" name="surname">
                    </div>
                </div>

                <div class="delivery-form-input-group">
                    <div id="address-container">
                        <label for="address">Adresa:</label>
                        <input id="address" type="text" name="address">
                    </div>
                    <div id="post_code-container">
                        <label  for="post-code">Poštanski broj:</label>
                        <input id="post_code" oninput="validate_pcode_input(this)" type="text">
                    </div>
                </div>
                <div class="delivery-form-input-group">
                    <div id="place-container">
                        <label for="place">Mjesto:</label>
                        <input id="place" type="text" name="place">
                    </div>
                    <div id="phone-container">
                        <label for="phone">Telefon:</label>
                        <input id="phone" oninput="validate_phone_num(this)" type="text">
                    </div>
                </div>

            </form>
            <h2>Podatci za dostavu</h2>
            <form class="delivery-data-form">

                <div>
                    <div class="delivery-data-form-checkbox-box">
                        <input name="same_delivery" onchange="show_hide_delivery_form()" id="same-delivery-chckbox" checked type="checkbox">
                        <label for="same_delivery">Podatci za dostavu su isti kao i o kupcu</label>
                    </div>
                    <div class="delivery-data-form-checkbox-box">
                        <input name="need_r1" onchange="show_hide_r1_form()" id="need-r1-chckbox" type="checkbox">
                        <label for="need_r1">Potreban R1 račun</label>
                    </div>
                </div>

                <div id="delivery-block-blanket" class="delivery-block-blanket">
                    <div class="delivery-form-input-group">
                        <div id="delivery_name-container">
                            <label for="name">Ime preuzimatelja:</label>
                            <input id="delivery_name" type="text" name="delivery_name">
                        </div>
                        <div id="delivery_surname-container">
                            <label for="surname">Prezime preuzimatelja:</label>
                            <input id="delivery_surname" type="text" name="delivery_surname">
                        </div>
                    </div>

                    <div class="delivery-form-input-group">
                        <div id="delivery_address-container">
                            <label for="address">Adresa dostave:</label>
                            <input id="delivery_address" type="text" name="delivery_address">
                        </div>
                        <div id="delivery_post_code-container">
                            <label for="post-code">Poštanski broj:</label>
                            <input id="delivery_post_code" oninput="validate_pcode_input(this)" type="text">
                        </div>
                    </div>
                    <div class="delivery-form-input-group">
                        <div id="delivery_place-container">
                            <label for="place">Mjesto:</label>
                            <input id="delivery_place" type="text" name="place">
                        </div>
                        <div id="delivery_phone-container">
                            <label for="phone">Telefon:</label>
                            <input id="delivery_phone" oninput="validate_phone_num(this)" type="text">
                        </div>
                    </div>
                </div>

                <div id="r1-blanket" class="delivery-block-blanket">
                    <div class="delivery-form-input-group">
                        <div id="company_name-container">
                            <label for="company">Tvrtka:</label>
                            <input id="company_name" type="text" name="company">
                        </div>
                        <div id="OIB-container">
                            <label for="oib">OIB:</label>
                            <input id="OIB" oninput="validate_OIB(this)" type="text">
                        </div>
                    </div>
                    <div class="delivery-form-input-group">
                        <div id="company_place-container">
                            <label for="company_place">Mjesto:</label>
                            <input id="company_place" type="text" name="company_place">
                        </div>
                        <div id="company_post_code-container">
                            <label for="company_post_code">Poštanski broj:</label>
                            <input id="company_post_code" oninput="validate_pcode_input(this)" type="text">
                        </div>
                    </div>
                </div>

                <div class="delivery-form-input-group">
                    <div class="delivery-form-notice-textarea-container">
                        <label for="notice">Napomena:</label>
                        <textarea name="notice" id="notice" cols="30" rows="10"></textarea>
                    </div>
                </div>

                <div class="delivery-form-input-group">
                    <div class="delivery-data-form-checkbox-box">
                        <button onclick="submit_delivery_data(event)" class="delivery-data-submit-btn">Nastavi</button>
                        <input name="remember" type="checkbox">
                        <label id="remember-input-chckbox" for="remember">Zapamti za ubuduće</label>
                    </div>
                </div>

            </form>

        </div>

    {% include '../footer.html' %}

    <script>
        load_navbar_listeners('noscroll');

        show_hide_delivery_form();
        show_hide_r1_form();

    </script>
{% endblock %}