{% extends 'components/site_frame.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'navbar.js' %}"></script>

    <link rel="stylesheet" href="{% static 'subpages/cart/order_confirmation.css' %}">

{% endblock %}

{% block body %}
    {% include '../navbar.html' %}

    <div class="order-confirmation-content-container">
        <h2>Naručeno !!</h2>
        <span>Potvrda s detaljima narudžbe stiže ubrzona Vaš mail :)</span>
        <span>Detalje i statuse narudžbi možete pratiti <a href="/pregled_narudzbi">ovdje</a>,</span> 
        <span>a u međuvremenu, otkrijte koji recept na <a href="/blog">našem blogu..</a></span>
    </div>

    {% include '../about_info_span.html'%}
    {% include '../footer.html' %}

    <script>
        load_navbar_listeners('noscroll');
    </script>

{% endblock %}