{% extends 'components/site_frame.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'navbar.js' %}"></script>
    <script src="{% static 'subpages/products/products.js' %}"></script>

    <link rel="stylesheet" href="{% static 'subpages/products/products.css' %}">
    <link rel="stylesheet" href="{% static 'subpages/products/products_category_filter_menu.css' %}">

{% endblock %}

    {% block body %}
    {% include '../navbar.html' %}
    {% include '../divider_hr_title.html' with title="Proizvodi" %}
    
    <nav class="secondary-nav-location-bar">
        <a href="/">Naslovna</a>
        <span>/</span>
        <a href="/products">Proizvodi</a>
        <span>/</span>
        <a href="#">Zimnica</a>
        <span>/</span>
        <span>Kiseli krastavci</span>
    </nav>

    <div class="products-top-container">

        <div class="products-category-options-container">
            <div class="category-menu-header">
                <span>Kategorije</span>
            </div>

            <ul class="category-main-filters">
            
                <li class="category-filter-collapsable">
                    <div class="product-category-option-container">
                        <a href="#">Sir i Mlijeko</a>

                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="552.611px" height="552.611px" viewBox="0 0 552.611 552.611" style="enable-background:new 0 0 552.611 552.611;"
                        xml:space="preserve">
                        <path d="M486.413,221.412L122.347,12.916c-52.938-30.318-95.852-5.44-95.852,55.563v415.652c0,61.004,42.914,85.882,95.852,55.563
                        l364.066-208.49C539.351,300.887,539.351,251.731,486.413,221.412z"/></svg>
                    </div>
                </li>
            

            
                <li id="filter-option-id-2" class="category-filter-collapsable">
                    <div class="product-category-option-container product-filter-active">
                        <a href="#">Zimnica</a>

                        <svg onclick="open_close_category_submenu(2)" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="552.611px" height="552.611px" viewBox="0 0 552.611 552.611" style="enable-background:new 0 0 552.611 552.611;"
                        xml:space="preserve">
                        <path d="M486.413,221.412L122.347,12.916c-52.938-30.318-95.852-5.44-95.852,55.563v415.652c0,61.004,42.914,85.882,95.852,55.563
                        l364.066-208.49C539.351,300.887,539.351,251.731,486.413,221.412z"/></svg>
                    </div>

                    <div class="product-subfilter-container show_submenu">
                        <ul class="product-cagetory-subfilter-menu">
                            <li>
                                <a href="#">Ajvar</a>
                            </li>
                            <li>
                                <a href="#">Kiseli Krastavci</a>
                            </li>
                            <li>
                                <a href="#">Rezana Cikla</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="category-filter-collapsable">
                    <div class="product-category-option-container">
                        <a href="#">Torte i kolači</a>

                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="552.611px" height="552.611px" viewBox="0 0 552.611 552.611" style="enable-background:new 0 0 552.611 552.611;"
                        xml:space="preserve">
                        <path d="M486.413,221.412L122.347,12.916c-52.938-30.318-95.852-5.44-95.852,55.563v415.652c0,61.004,42.914,85.882,95.852,55.563
                        l364.066-208.49C539.351,300.887,539.351,251.731,486.413,221.412z"/></svg>
                    </div>
                </li>

                
                <li class="category-filter-collapsable">
                    <div class="product-category-option-container">
                        <a href="#">Brašno, Jaja i Tjestenina</a>

                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="552.611px" height="552.611px" viewBox="0 0 552.611 552.611" style="enable-background:new 0 0 552.611 552.611;"
                        xml:space="preserve">
                        <path d="M486.413,221.412L122.347,12.916c-52.938-30.318-95.852-5.44-95.852,55.563v415.652c0,61.004,42.914,85.882,95.852,55.563
                        l364.066-208.49C539.351,300.887,539.351,251.731,486.413,221.412z"/></svg>
                    </div>
                </li>

                <li class="category-filter-collapsable">
                    <div class="product-category-option-container">
                        <a href="#">Alkoholna pića</a>

                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="552.611px" height="552.611px" viewBox="0 0 552.611 552.611" style="enable-background:new 0 0 552.611 552.611;"
                        xml:space="preserve">
                        <path d="M486.413,221.412L122.347,12.916c-52.938-30.318-95.852-5.44-95.852,55.563v415.652c0,61.004,42.914,85.882,95.852,55.563
                        l364.066-208.49C539.351,300.887,539.351,251.731,486.413,221.412z"/></svg>
                    </div>
                </li>

                
                <li class="category-filter-collapsable">
                    <div class="product-category-option-container">
                        <a href="#">Voće i Povrće</a>

                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="552.611px" height="552.611px" viewBox="0 0 552.611 552.611" style="enable-background:new 0 0 552.611 552.611;"
                        xml:space="preserve">
                        <path d="M486.413,221.412L122.347,12.916c-52.938-30.318-95.852-5.44-95.852,55.563v415.652c0,61.004,42.914,85.882,95.852,55.563
                        l364.066-208.49C539.351,300.887,539.351,251.731,486.413,221.412z"/></svg>
                    </div>
                </li>

                <li class="category-filter-collapsable">
                    <div class="product-category-option-container">
                        <a href="#">Ostalo</a>

                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="552.611px" height="552.611px" viewBox="0 0 552.611 552.611" style="enable-background:new 0 0 552.611 552.611;"
                        xml:space="preserve">
                        <path d="M486.413,221.412L122.347,12.916c-52.938-30.318-95.852-5.44-95.852,55.563v415.652c0,61.004,42.914,85.882,95.852,55.563
                        l364.066-208.49C539.351,300.887,539.351,251.731,486.413,221.412z"/></svg>
                    </div>
                </li>

            </ul>
        </div>

        <div class="products-units-container">

        </div>

    </div>

    {% include '../footer.html' %}

    <script>
        load_navbar_listeners('noscroll');
    </script>

{% endblock %}