{% extends 'components/site_frame.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'navbar.js' %}"></script>
    <script src="{% static 'subpages/products/products.js' %}"></script>

    <link rel="stylesheet" href="{% static 'subpages/products/products.css' %}">
    <link rel="stylesheet" href="{% static 'subpages/products/products_category_filter_menu.css' %}">
    <link rel="stylesheet" href="{% static 'subpages/products/product_units_container.css' %}">

{% endblock %}

{% block body %}
    {% include '../navbar.html' %}
    {% include '../divider_hr_title.html' with title="Proizvodi" %}
    
    <nav class="secondary-nav-location-bar">
        <a href="/proizvodi">Svi Proizvodi</a>

        {% if active_category is not none %}
            <span>/</span>
            <a href="/proizvodi/filter?category={{active_category}}">{{active_category}}</a>
        {% endif %}
        {% if active_subcategory is not none %}
        <span>/</span>
        <span>{{active_subcategory}}</span>
        {% endif %}

    </nav>

        <div onclick="open_side_filter_menu()" class="hamburger-toggle">
            <span class="ham-bar"></span>
            <span class="ham-bar"></span>
            <span class="ham-bar"></span>
        </div>

        <div id="category-filter-mobile-side-menu-container" class="category-filter-mobile-side-menu-container">
            
            <nav class="category-filter-mobile-side-panel">

                <div class="side-filter-menu-options-container">
                    <div class="category-menu-header">
                        <span>Kategorije</span>
                    </div>


                    <ul class="category-main-filters">

                        {% for category in categories %}
        
                            <li class="category-filter-collapsable">
                                <div id="sidebar-category-option-{{ forloop.counter }}" class="product-category-option-container{% if category == active_category %} product-filter-active submenu-open{% endif %}">
                                    <a href="/proizvodi/filter?category={{category}}">{{category}}</a>
        
                                    <svg onclick="open_close_category_submenu({{ forloop.counter }}, true)" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    width="552.611px" height="552.611px" viewBox="0 0 552.611 552.611" style="enable-background:new 0 0 552.611 552.611;"
                                    xml:space="preserve">
                                    <path d="M486.413,221.412L122.347,12.916c-52.938-30.318-95.852-5.44-95.852,55.563v415.652c0,61.004,42.914,85.882,95.852,55.563
                                    l364.066-208.49C539.351,300.887,539.351,251.731,486.413,221.412z"/></svg>
                                </div>
        
                                <div id="sidebar-submenu-option-{{ forloop.counter }}" class="product-subfilter-container {% if category == active_category%} show_submenu{% endif %}">
                                    <ul class="product-cagetory-subfilter-menu">
                                    </ul>
        
                                    <script>
                                        populate_submenu({{categories|safe}}["{{category}}"], "sidebar-submenu-option-{{ forloop.counter }}", "category-option-{{ forloop.counter }}", '{{category}}', '{{active_subcategory}}')
                                    </script>
                                    
                                </div>
        
                            </li>
        
                        {% endfor %}
        
                    </ul>

        
                </div>


            </nav>

            <div onclick="close_side_filter_menu()" id="sidebar-active-background" class=""></div>

        </div>

                <!-- ToDo Create hamburger nav for mobile -->

    <div class="products-top-container">

        <div class="products-category-options-container">
            <div class="category-menu-header">
                <span>Kategorije</span>
            </div>

            <ul class="category-main-filters">

                {% for category in categories %}

                    <li class="category-filter-collapsable">
                        <div id="category-option-{{ forloop.counter }}" class="product-category-option-container{% if category == active_category %} product-filter-active submenu-open{% endif %}">
                            <a href="/proizvodi/filter?category={{category}}">{{category}}</a>

                            <svg onclick="open_close_category_submenu({{ forloop.counter }}, false)" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="552.611px" height="552.611px" viewBox="0 0 552.611 552.611" style="enable-background:new 0 0 552.611 552.611;"
                            xml:space="preserve">
                            <path d="M486.413,221.412L122.347,12.916c-52.938-30.318-95.852-5.44-95.852,55.563v415.652c0,61.004,42.914,85.882,95.852,55.563
                            l364.066-208.49C539.351,300.887,539.351,251.731,486.413,221.412z"/></svg>
                        </div>

                        <div id="submenu-option-{{ forloop.counter }}" class="product-subfilter-container {% if category == active_category%} show_submenu{% endif %}">
                            <ul class="product-cagetory-subfilter-menu">
                            </ul>

                            <script>
                                populate_submenu({{categories|safe}}["{{category}}"], "submenu-option-{{ forloop.counter }}", "category-option-{{ forloop.counter }}", '{{category}}', '{{active_subcategory}}')
                            </script>
                            
                        </div>

                    </li>

                {% endfor %}

            </ul>
        </div>

        <div class="products-units-top-container">

            <div class="product-units-container-header">
                <span>Broj rezultata: {{products|length}}</span>
                <div>
                    <label for="sort_filter">Sortiraj po: </label>
                    <select name="sort_filter" id="product-results-sort_filter">
                        <option value="price">Cijeni - manje prema više</option>
                        <option value="price">Cijeni - više prema manje</option>
                    </select>
                </div>
            </div>

            <div class="products-results-container">

                {% for product in products %}

                    <div class="product-overview-unit">

                        <a href="/proizvodi/viewitem/{{product.seo_url}}">
                            <div class="product-overview-item-img-box">
                                <img src="{% if product.image != None %}{{product.image}}{% else %}{% static 'resources/icons/no-image.png' %}{% endif %}" alt="product_img">
                            </div>
                        </a>

                        <div class="product-overview-item-txt-box">
                            <a href="/proizvodi/viewitem/{{product.seo_url}}" ><h3>{{product.name}}</h3></a>
                            <a href="/proizvodi/viewitem/{{product.seo_url}}">{{product.short_desc}}</a>
                        </div>

                        <div class="product-overview-item-price-cta-box">
                            <span>{{product.price}} <strong>Kn</strong></span>
                        </div>
                        
                    </div>

                {% endfor %}

            </div>

            <div class="pagination-bar">

                <div class="pagination-previous">
                    <span id="pagination-previous" ><a>Previous</a></span>
                </div>
        
                <div class="pagination-numeration">
                    <ul id="pagination-numeration">
                        
                    </ul>
                </div>
        
                <div class="pagination-next">
                    <span id="pagination-next" ><a>Next</a></span>
                </div>
        
            </div>


        </div>

    </div>

    {% include '../footer.html' %}

    <script>
        load_navbar_listeners('noscroll');


        do_pagination({{total_pages}}, {{current_page}}, "{{active_category}}", "{{active_subcategory}}")
        
    </script>
{% endblock %}