
  /* Category selection menu */

.blog-category-menu-container{
	margin-top: 40px;

	display: flex;
	justify-content: center;
}

.blog-category-filter-menu{
	margin-top: 0px;

	display: flex;
	justify-content: center;
}

.blog-category-filter-menu li a{
	text-decoration: none;
	color: rgba(0,0,0,0.9);
}

.blog-category-filter-menu li{
	list-style: none;
}

.blog-category-filter-menu li:hover{
	cursor: pointer;

	opacity: 0.8;

	transition: transform 0.07s ease-in;
	transform: scale(1.1);
}

@media(min-width: 650px){
	.blog-category-filter-menu li{
		margin-right: 50px;
	}
}

@media(max-width: 650px){
	.blog-category-filter-menu{
		flex-direction: column;
	}

	.blog-category-filter-menu li{
		margin-bottom: 5px;
	}
}

.active{
	border-bottom: solid 2px #F23207;

	font-weight: bold;
	font-size: 17px;
}

.blog-items-top-conteiner{

	box-sizing: border-box;

	margin: 0 auto;
	
	margin-top: 50px;

	padding-left: 15px;
	padding-right: 15px;

	width: 100%;
	max-width: 1200px;

	display: flex;
	flex-wrap: wrap;
}

@media(min-width: 1030px){
	.blog-items-top-conteiner{
		justify-content: space-between;
	}
}

@media(max-width: 1030px){
	.blog-items-top-conteiner{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/* Pagination bar */

.blog-pagination-bar{
	width: 100%;
	max-width: 1200px;

	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;

	display: flex;
	justify-content: space-between;
}

.pagination-numeration ul{
	margin: 0;
	display: flex;
	justify-content: center;
}

.pagination-numeration ul li{
	list-style: none;

	height: 23px;
	width: 23px;

	display: flex;
	justify-content: center;

	border: solid 1px transparent;

	cursor: pointer;
}

.pagination-page-current{
	border: solid 1px black !important;

	font-weight: bold;
}

.blog-pagination-previous span, .blog-pagination-next span{
	color: #f23207;

	cursor: pointer;
}