
.blog_article_container{
	width: 100%;
	margin-top: 100px;
}

.secondary-nav-location-bar{
	margin-top: 80px;
	margin-left: 15px;
	margin-right: 15px;

	display: flex;
	justify-content: center;

	font-style: italic;
	font-size: 13px;
}

.secondary-nav-location-bar > *{
	margin-right: 5px;
}

@media(max-width: 600px){
	.secondary-nav-location-bar{
		display: flex;
		flex-direction: column;

		text-align: center;
	}

	.secondary-nav-divider{
		display: none;
	}

	.secondary-nav-location-bar > *{
		margin-bottom: 5px;
	}
}

.blog-article-header{
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

	margin-top: 50px;
	max-width: 800px;

}

.blog-article-header img{
	width: 100%;
	max-height: 800px;
}

.blog-article-header h1{
	color: #F23207;

	text-align: center;
}

.blog-article-date-stamp{
	display: block;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
}

/* Article */

.content-body-start-divider{
	margin-bottom: 50px;
}

.blog-article-container{
	box-sizing: border-box;
	max-width: 1000px;

	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.blog-article-container img{
	max-width: 100%;
}

.blog-article-keyword{
	width: 100%;
	margin-top: 20px;
	
	text-align: center;

	font-size: 22px;
}