
.text-content-top-container{
	margin: 0 auto;
	margin-top: 50px;

	padding-left: 15px;
	padding-right: 15px;

	max-width: 1220px;

	display: flex;
}

.text-content-area{
	max-width: 576px;
}

.text-content-area p{
	font-size: 18px;
}

.text-content-area p::first-letter{
	margin-left: 20px;
	font-size: 24px;
	font-weight: bold;
}

.image-content-area{
	margin-bottom: 5px;
	max-width: 500px;
	height: 282px;

	overflow: hidden;
	

}

.image-content-area img{
	width: 100%;
}

.side-content-area span{
	margin-left: 35px;
	font-size: 16px;
	font-style: italic;

	opacity: 0.7;
}

@media(min-width: 1100px){
	.text-content-top-container{
		justify-content: space-between;
	}

	.image-content-area{
		margin-top: 80px;
	}
}

@media(max-width: 1100px){
	.text-content-top-container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.image-content-area{
		margin-top: 20px;
	}
}

