

<div id="modal_signup_form" class="modal-bg">

    <div class="modal-signup-form-container">
        <header class="modal-signup-header">
            <span>Registrirajte se</span>
        </header>

        <div class="modal-signup-form-body">

            <div class="modal-signup-form-item">
                <label for="name">Ime i prezime:</label>
                <input name="name" type="text" placeholder="Ime i prezime ( ili naziv tvrtke )">
            </div>

            
            <div class="modal-signup-form-item">
                <label for="email">Email:</label>
                <input type="email" placeholder="email adresa">
            </div>

            
            <div class="modal-signup-form-item">
                <label for="">Lozinka:</label>
                <input type="password" placeholder="lozinka">
            </div>

            
            <div class="modal-signup-form-item">
                <label for="">Potvrdi lozinku:</label>
                <input type="password" placeholder="Ponovi lozinku">
            </div>

        </div>

        <div class="modal-signup-form-controls-box">
            <button onclick="close_modal_signup_form()" class="modal-signup-cancel-btn">Odustani</button>
            <button class="modal-signup-confirm-btn">Završi prijavu</button>
        </div>  

    </div>

</div>