
		/* Horizontal line */

.content-division-line-full{
	margin: 0 auto;
	margin-top: 35px;

	width: 90%;
	max-width:1320px;

	height: 0px;

	background: lightgrey;
}

		/* Main container */ 

.category-selection-block-container{
	margin: 0 auto;
	margin-top: 35px;
	box-sizing: border-box;
	padding-left: 58px;
	padding-right: 58px;

	max-width: 1440px;

	background: ghostwhite;
}


@media(min-width: 800px){ /* Desktop layout */
	.category-selection-block-container{
		display: flex;
		padding-left: 58px;
		padding-right: 58px;
	}
}

@media(max-width: 800px){   /* Phone layout */
	.category-selection-block-container{
		display: flex;
		flex-direction: column;
		padding-left: 10px;
		padding-right: 10px;

		justify-content: center;
		align-items: center;
	}
}

		/* Block with category options -- Options container */

.category-options-container{
	width: 100%;
	max-width: 987px;

	display: grid;
	grid-gap: 18px;
}

@media(min-width: 600px){
	.category-options-container{
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media(max-width: 600px){
	.category-options-container{
		grid-template-columns: 1fr 1fr;
	}
}

		/* Top-picks block container */

.top-picks-container{
	margin-left: 19px;
	width: 100%;
	
	border: solid 2px black;

	border-radius: 10px;
	overflow: hidden;

}

.top-picks-group-container{
	display: flex;
	flex-direction: column;
}
				
@media(max-width: 1000px) and (min-width: 800px){
	.top-picks-container{
		max-width: 159px;
		max-height: 400px;
	}

	.top-pick-unit-container{
		flex-direction: column;
		height: 180px;
	}
	.top-pick-unit-img{
		height: 60%;
	}

	.top-picks-unit-text-container{
		height: 40%;
	}


}

@media(min-width: 1000px){
	.top-picks-container{
		max-width: 337px;
	}

	.top-pick-unit-container{
		height: 100px;

		padding-left: 11px;
		padding-top: 6px;
		padding-bottom: 6px;
	}

	.top-pick-unit-img{
		width: 40%;
	}
	.top-picks-unit-text-container{
		width: 60%;
	}

	.top-picks-unit-text-container{
		margin-left: 8px;
	}

	.top-picks-product-name{
		border-bottom: solid 1px lightgrey;
	}
}

@media(min-width: 0px) and (max-width: 800px){
	.top-picks-container{
		margin: 0 auto;
		margin-top: 10px;

		max-width: 100%;
		max-height: 400px;
	}

	.top-picks-group-container{
		flex-direction: row;
	}

	.top-pick-unit-container{
		flex-direction: column;
		height: 250px;

		border-right: solid 1px lightgrey;
	}
	.top-pick-unit-img{
		height: 50%;
	}

	.top-picks-unit-text-container{
		height: 50%;
	}
}

.top-picks-header-box{
	height: 35px;
	background-color: #C4C4C4;

	border-bottom: solid 1px;

	display: flex;
	align-items: center;

	padding-left: 15px;
}

.top-picks-header-box span{
	letter-spacing: 0.7px;
	font-weight: 600;
}

/* Top-picks unit container */

.top-pick-unit-container{
	display: flex;

	padding: 5px;

	border-bottom: solid 1px lightgrey;
	border-top: solid 1px lightgrey;
}

.top-pick-unit-img img{
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.top-picks-unit-text-container{
	display: flex;
	flex-direction: column;

	overflow: hidden;

}

.top-picks-product-name{
	height: 50%;

	margin-bottom: 7px;
}

.top-picks-product-name span{
	display: block;
	line-height: 1.65;

	font-size: 12px;

	color: #F25D07;
}

.top-picks-product-description{
	height: 50%;
}

.top-picks-product-description span{
	display: block;

	font-size: 10px;
	line-height: 1.6;
}

			/* Category option container */

.main-category-option-container{

	display: flex;
	flex-direction: column;
}

@media(max-width: 500px){
	.category-option-container{
		min-height: 100px;
	}
}

@media(min-width: 500px){
	.category-option-container{
		min-height: 200px;
	}
}

.category-option-img-box{
	flex-basis: 80%;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	overflow: hidden;
}

.category-option-img-box img{
	display: block;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.category-option-footer{
	flex-basis: 20%;

	background-color: #C4C4C4;
	display: flex;
	justify-content: center;
	align-items: center;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}




