
		/* Horizontal line */

.content-division-line-full{
	margin: 0 auto;
	margin-top: 35px;

	width: 1320px;
	height: 2px;

	background: lightgrey;
}

		/* Main container */ 

.category-selection-block-container{
	margin: 0 auto;
	margin-top: 35px;
	box-sizing: border-box;
	padding-left: 58px;
	padding-right: 58px;

	max-width: 1440px;
	min-width: 480px;

	background: ghostwhite;
}


@media(min-width: 800px){ /* Desktop layout */
	.category-selection-block-container{
		display: flex;
		padding-left: 58px;
		padding-right: 58px;
	}
}

@media(max-width: 800px){   /* Phone layout */
	.category-selection-block-container{
		display: flex;
		flex-direction: column;
		padding-left: 10px;
		padding-right: 10px;

		justify-content: center;
		align-items: center;
	}
}

		/* Block with category options -- Options container */

.category-options-container{
	width: 100%;
	max-width: 987px;

	border: solid 1px green;

	display: grid;
	grid-gap: 18px;
}

@media(min-width: 600px){
	.category-options-container{
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media(max-width: 600px){
	.category-options-container{
		grid-template-columns: 1fr 1fr;
	}
}

		/* Block with most popular products */

.top-picks-container{
	margin-left: 19px;
	width: 100%;
	

	border: solid 1px red;
	height: 500px;
}
				
@media(max-width: 1100px) and (min-width: 800px){
	.top-picks-container{
		max-width: 159px;
	}
}

@media(min-width: 1100px){
	.top-picks-container{
		max-width: 317px;
	}
}

@media(min-width: 0px) and (max-width: 800px){
	.top-picks-container{
		margin: 0 auto;
		margin-top: 10px;

		max-width: 100%;
	}
}

			/* Category option container */

.main-category-option-container{
	border: solid 1px black;

	min-height: 200px;

	display: flex;
	flex-direction: column;
}

.category-option-img-box{
	flex-basis: 80%;
}

.category-option-img-box img{
	display: block;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.category-option-footer{
	flex-basis: 20%;

	background-color: #C4C4C4;
	display: flex;
	justify-content: center;
	align-items: center;
}