body{
	height: 100vh;

	background-color: lightgrey;
}

.error-msg-container{
	position: relative;

	max-width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	color: white;
}

.error-msg-container{
	margin-top: -100px;
}



.error-msg-container::before{
	content: "";
	position: absolute;
	z-index: -1;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: 800px;

	background-image: url("resources/images/error.jpg");

	background-position: center;
	background-size: contain;

	background-repeat: no-repeat;

	filter: brightness(0.8);
}

