.checkout-top-container{
	max-width: 1200px;
	margin: auto;
	
	padding-left: 15px;
	padding-right: 15px;
}

.checkout-flex-container{
	display: flex;
}


.shopping_cart-product_item-container{
	height: 120px;
	width: 100%;

	margin-bottom: -1px;

	padding-left: 15px;
	padding-right: 15px;

	border-top: solid 1px rgba(0,0,0,0.8);
	border-bottom: solid 1px rgba(0,0,0,0.8);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-item-img-box{
	height: 80px;
	width: 100px;
	min-width: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-item-img-box img{
	max-height: 80px;
	max-width: 80px;
}

.cart-item-info-box{
	width: 230px;

	text-align: center;
}

.cart-item-info-box span{
	display: block;
}

.product-name-span{
	color: #f2360b;
	margin-bottom: 10px;
}

.cart-item-price_info-box{
	width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cart-item-price_info-box span{
	display: block;
}

.cart-product-total-cost-span{
	font-weight: bold;
	font-size: 18px;
	color: #f2360b;

	margin-top: 10px;
}

.item-fields-description-header ul{
	height: 40px;

	margin-bottom: 0;

	text-align: center;
	list-style: none;
	padding: 0;

	display: flex;
	align-items: center;

	background-color: #fff;

	color: rgba(0,0,0,0.7);

	font-style: italic;
}

.item-fields-description-header ul li:nth-child(1){
	width: 24%;
}
.item-fields-description-header ul li:nth-child(2){
	width: 42%;

	margin-left: 5%;
}
.item-fields-description-header ul li:nth-child(3){
	width: 30%;
}

.items-overview-container{
	width: 50%;

	padding-right: 40px;
	padding-bottom: 20px;

	border-right: solid 2px #f2360b;
}

.order-summary-container{
	width: 50%;
}

.order-summary-container{
	margin-left: 20px;
}

.summary-box{
	margin: 20px;
	margin-top: 0px;

	padding: 20px;

	max-width: 500px;
	border: solid 1px black;
}

.summary-box > header{
	font-size: 20px;
	font-weight: bold;

	color: rgba(0,0,0,0.7);

	border-bottom: solid 1px rgba(0,0,0,0.7);

	padding-bottom: 10px;

}

.financial-summary-box{
	border-bottom: solid 1px rgba(0,0,0,0.7);
}

.financial-summary-box ul{
	padding-left: 0px;
}

.financial-summary-box ul li{
	display: flex;
	justify-content: space-between;
}

.financial-total-li{
	margin-top: 15px;

	font-weight: bold;
	font-size: 18px;
}

.financial-total-li span:nth-child(2){
	color: #f2360b;
}

.delivery-summay{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;

	font-size: 14px;
}

.delivery-summay div{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.delivery-summay div:nth-child(2){
	align-items: flex-end;
}

.delivery-summay ul{
	list-style: none;

	padding-left: 0;
}

.delivery-summay ul li:first-child{
	font-weight: bold;
	color: rgba(0,0,0,0.7);

	margin-bottom: 20px;
}

.payment-options-block span{
	display: block;
	font-weight: bold;

	margin-top: 15px;
	margin-bottom: 10px;
}

.wire-pay-tooltip{
	position: relative;
	display: inline;
}

.tooltip-label svg{
	height: 20px;
	width: 20px;

	margin-left: 5px;

	transform: translate(0, 3px);

	cursor: pointer;
}

.tooltip-trigger{
	display: inline;
}

.wire-pay-tooltip::before{
	transition: transform 0.2s ease;
	transform: scale(0);

	position: absolute;
	content: "Ponudu s podatcima za plaćanje dobivate na email po završetku narudžbe.";

	color: white;

	font-size: 12px;
	font-style: italic;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;

	height: 60px;
	width: 300px;

	top: -300%;
	left: -500%;

	background-color: rgba(0,0,0,0.85);
}

.tooltip-trigger:hover > .wire-pay-tooltip::before{
	visibility: visible;

	transform: scale(1);
}

.order-confirm-submit-controls{
	margin-top: 40px;
}

.accept-terms-container{
	display: flex;
	align-items: center;
}

.order-confirm-submit-controls button{
	width: 160px;
	height: 40px;

	margin-top: 20px;

	border: none;
	border-radius: 5px;

	background-color: #f2360b;

	font-size: 18px;

	color: white;
}

.order-confirm-submit-controls button:focus{
	outline: none;
}

.order-confirm-submit-controls button:hover{
	cursor: pointer;

	transform: translate(0, -1px);
}

.order-confirm-submit-controls input{
	height: 28px;
	width: 18px;

	margin-right: 10px;
}

@media(max-width: 1000px){
	.checkout-flex-container{
		flex-direction: column-reverse;
		align-items: center;
	}

	.items-overview-container{
		width: 100%;
	}

	.order-summary-container{
		width: 100%;
		margin-left: 0;
	}

	.summary-box{
		max-width: 100%;
		width: 100%;

		margin-left: 0;
	}

	.items-overview-container{
		border-right: none;
	}

	.items-overview-container{
		padding-right: 0;
	}
}

@media(max-width: 500px){
	.cart-item-info-box span{
		font-size: 12px;
	}

	.cart-item-price_info-box span{
		font-size: 12px;
	}

	.cart-item-price_info-box{
		text-align: center;
	}
}

.error-tooltip{
	position: relative;
}

.error-tooltip::after{
	content: attr(data-tooltip);

	font-size: 18px;
	font-weight: bold;

	margin-left: 5px;

	color: red;

}