.order-confirmation-content-container{
	width: 800px;
	min-height: 200px;

	margin: auto;
	margin-top: 120px;
	margin-bottom: 200px;

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.order-confirmation-content-container span{
	margin-bottom: 10px;

	color: rgba(0,0,0,0.8);

	font-style: italic;
}

