{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>    <!-- Load Poppins font -->
    <link rel="stylesheet" href="{% static 'style.css' %}">  

    <title>OPG_Plac</title>
</head>

<body>

    {% include 'components/navbar.html' %}
    {% include 'components/header_hero.html' %}
    {% include 'components/category_selection_block.html' %}
    
</body>


</html>