{% extends 'components/site_frame.html' %}
{% load static %}

{% block title %}Najbrža sigurna online trgovina domaćih proizvoda{% endblock %}

{% block head %}
    <script src="{% static 'navbar.js' %}" ></script>
{% endblock %}

{% block body %}

    {% include 'components/navbar.html' %}
    {% include 'components/header_hero.html' %}
    {% include 'components/category_selection_block.html' %}
    {% include 'components/guarantee_banner.html' %}
    {% include 'components/divider_hr_title.html' with title="Zanimljivosti" %}
    {% include 'components/blog_highlights.html' %}
    {% include 'components/footer.html' %}

    <script>
        load_navbar_listeners()
    </script>

{% endblock %}