{% extends 'components/site_frame.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block head %}

    <script src="{% static 'navbar.js' %}"></script>

    <link rel="stylesheet" href="{% static 'subpages/blog/view_article.css' %}">

{% endblock %}

{% block body %}

    {% include 'components/navbar.html' %}

    <header class="blog_article_container">
        {% include 'components/divider_hr_title.html' with title="OPG Blog" %}

        <nav class="secondary-nav-location-bar">
            <a href="/blog">Blog</a>
            <span>/</span>
            <a href="/blog?filter={{category}}">{{category}}</a>
            <span>/</span>
            <span>{{title}}</span>
        </nav>

        <div class="blog-article-header">
            <img src="{{img}}" alt="">

            <h1>{{title}}</h1>

            <span class="blog-article-date-stamp">{{timestamp}}</span>
        </div>

    </header>

    <article class="blog-article-container">
        <hr class="content-body-start-divider">

        {{content|safe}}

        <div class="blog-article-keyword">

            <span># {{keywords}}</span>

        </div>

    </article>


    {% include 'components/footer.html' %}

    <script>
        load_navbar_listeners('noscroll');

    </script>

{% endblock %}