{% load static %}

<div class="blog-highlights-block">

        <div class="blog-highlights-cards-container">

            <div class="blog-highlights-blog-card">   <!-- Blog card -->

                <div class="blog-card-img-box">
                    <img src="{% static 'resources/images/blog/olive-oil-salad-dressing-cooking-olive.jpg' %}" alt="blog_header_img">
                </div>

                
                <div class="blog-card-text-box">

                    <div class="blog-card-headline-text">
                        <h3>Esencijalni Vodić za Maslinovo Ulje: Blagodati i Primjenja</h3>
                    </div>

                    <div class="blog-card-article-intro-text">
                        <span>Odavno znamo da maslinovo ulje pruža pregršt korisnih svojstava, no ono što nam je manje poznato jest da...</span>
                    </div>

                    <div class="blog-card-footer">
                        <span>06.listopada 2020.</span>
                        <a class="blog_card_readmore_link" href="#">Pročitajte više -></a>
                    </div>

                </div>

            </div>  <!-- End blog card -->

            <div class="blog-highlights-blog-card">   <!-- Blog card -->

                <div class="blog-card-img-box">
                    <img src="{% static 'resources/images/blog/pexels-photo-2680603.jpeg' %}" alt="blog_header_img">
                </div>

                
                <div class="blog-card-text-box">

                    <div class="blog-card-headline-text">
                        <h3>Recept: Kraljevska Torta s Čokoladnom Glazurom</h3>
                    </div>

                    <div class="blog-card-article-intro-text">
                        <span>Recept ove torte poznat je od davnina kada se ista posluživala samo u krugovima visokog statusa, a sada..</span>
                    </div>

                    <div class="blog-card-footer">
                        <span>03.listopada 2020.</span>
                        <a class="blog_card_readmore_link" href="#">Pročitajte više -></a>
                    </div>

                </div>

            </div>  <!-- End blog card -->

        </div>

        <div class="blog-highlights-blog-view-btn-box">
            <button class="view-blog-link-btn">Posjeti naš blog</button>
        </div>

</div>