{% load static %}

<link rel="stylesheet" href="{% static 'category_selection_block.css' %}">

<hr class="content-division-line-full"></hr>  <!-- horizontal line -->

<div class="category-selection-block-container">   <!-- main container-->

    <div class="category-options-container">        <!-- categories container-->

        <div class="main-category-option-container">

            <div class="category-option-img-box">
                <img src="{% static 'resources/images/pexels-photo-3740196.jpeg' %}" alt="product_img">
            </div>

            <div class="category-option-footer">
                <span>Torte i Kolači</span>
            </div>

        </div>

        <div class="main-category-option-container">

            <div class="category-option-img-box">
                <img src="{% static 'resources/images/pexels-photo-3740196.jpeg' %}" alt="product_img">
            </div>

            <div class="category-option-footer">
                <span>Torte i Kolači</span>
            </div>

        </div>

        <div class="main-category-option-container">

            <div class="category-option-img-box">
                <img src="{% static 'resources/images/pexels-photo-3740196.jpeg' %}" alt="product_img">
            </div>

            <div class="category-option-footer">
                <span>Torte i Kolači</span>
            </div>

        </div>


        <div class="main-category-option-container">

            <div class="category-option-img-box">
                <img src="{% static 'resources/images/pexels-photo-3740196.jpeg' %}" alt="product_img">
            </div>

            <div class="category-option-footer">
                <span>Torte i Kolači</span>
            </div>

        </div>


        <div class="main-category-option-container">

            <div class="category-option-img-box">
                <img src="{% static 'resources/images/pexels-photo-3740196.jpeg' %}" alt="product_img">
            </div>

            <div class="category-option-footer">
                <span>Torte i Kolači</span>
            </div>

        </div>

        <div class="main-category-option-container">

            <div class="category-option-img-box">
                <img src="{% static 'resources/images/pexels-photo-3740196.jpeg' %}" alt="product_img">
            </div>

            <div class="category-option-footer">
                <span>Torte i Kolači</span>
            </div>

        </div>


    </div>

    <div class="top-picks-container">  <!-- top picks container -->

        <div class="top-picks-header-box">
            <span>Najpopularnije:</span>
        </div>

        <div class="top-picks-group-container">

            <div class="top-pick-unit-container">

                <div class="top-pick-unit-img">
                    <img src="{% static 'resources/images/products/Honey-Pie-Recipe-Image-735x735.jpg' %}" alt="product_image">
                </div>

                <div class="top-picks-unit-text-container">

                    <div class="top-picks-product-name">
                        <span>Medena pita s domaćim vrhnjem</span>
                    </div>

                    <div class="top-picks-product-description">
                        <span>Prirodna domaća pita od vrhnja s karamel preljevom</span>
                    </div>

                </div>

            </div>

            <div class="top-pick-unit-container">

                <div class="top-pick-unit-img">
                    <img src="{% static 'resources/images/products/Honey-Pie-Recipe-Image-735x735.jpg' %}" alt="product_image">
                </div>

                <div class="top-picks-unit-text-container">

                    <div class="top-picks-product-name">
                        <span>Medena pita s domaćim vrhnjem</span>
                    </div>

                    <div class="top-picks-product-description">
                        <span>Prirodna domaća pita od vrhnja s karamel preljevom</span>
                    </div>

                </div>

            </div>

            <div class="top-pick-unit-container">

                <div class="top-pick-unit-img">
                    <img src="{% static 'resources/images/products/Honey-Pie-Recipe-Image-735x735.jpg' %}" alt="product_image">
                </div>

                <div class="top-picks-unit-text-container">

                    <div class="top-picks-product-name">
                        <span>Medena pita s domaćim vrhnjem</span>
                    </div>

                    <div class="top-picks-product-description">
                        <span>Prirodna domaća pita od vrhnja s karamel preljevom</span>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>