{% load static %}

<hr class="content-division-line-full"></hr>  <!-- horizontal line -->

<div class="category-selection-block-container">   <!-- main container-->

    <div class="category-options-container">        <!-- categories container-->

        {% for category in categories %}

            <div onclick="window.location.href='/proizvodi/filter?category={{category.name}}'" class="main-category-option-container">

                <div class="category-option-img-box">
                    <img src="{% if category.image.url != None %}{{category.image.url}}{% else %}{% static 'resources/icons/no-image.png' %}{% endif %}" alt="product_img">
                </div>

                <div class="category-option-footer">
                    <span>{{category.name}}</span>
                </div>

            </div>

        {% endfor %}

    </div>

    <div class="top-picks-container">  <!-- top picks container -->

        <div class="top-picks-header-box">
            <span>Najpopularnije:</span>
        </div>

    <div class="top-picks-inner-container">
            <div class="top-picks-group-container">

                {% for product in top_picks %}
                    <a href="/proizvodi/viewitem/{{product.seo_url}}" class="top-pick-unit-container">
                        <div class="top-pick-unit-img">
                            <img src="{{product.image}}" alt="product_image">
                        </div>

                        <div class="top-picks-unit-text-container">

                            <div class="top-picks-product-name">
                                <span>{{product.name}}</span>
                            </div>

                            <div class="top-picks-product-description">
                                <span>{{product.name}}</span>
                            </div>

                        </div>
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>
</div>