

<div class="footer-gdpr-info-link-container">
    <a class="footer-gdpr-info-link" href="#">Privole i zaštita privatnosti</a>
</div>

<footer class="footer-block">
    <div class="footer-info-container">
        <div class="footer-info-left">
            <span class="footer-sub-name-span"><strong>© OPG_Plac d.o.o. 2020.</strong></span>
            <div class="footer-info-middle-block">
                <span><strong>IBAN: </strong>HR32452237800023434</span>
                <span><strong>Kontakt: </strong>marko.pavic667@gmail.com</span>
            </div>
            <span class="endspan"><strong>Credits: </strong>www.pexels.com, unsplash.com, www.flaticon.com</span>
        </div>
        <div class="footer-info-right">
            <div></div>
            <div class="footer-designer-info-box">
                <span><strong>© Marko Pavić designs</strong></span>
                <span>www.mpavic-designs.hr</span>
            </div>
        </div>
    </div>
</footer>