{% load static %}

<div class="guarantee-banner-container">

    <div class="guarantee-items-box">

        <div class="guarantee-item-container">   <!-- Item unit -->
            
            <div class="guarantee-item-icon-box">
                <img src="{% static 'resources/icons/vegetable.png' %}" alt="ico" height:49 width=49>
            </div>

            <div class="guarantee-item-text-box">
                <div class="guarantee-item-text-header">
                    <h3>Uvijek svježe</h3>
                </div>
                <div class="guarantee-item-text-span">
                    <span>Povrće i voće tek po narudžbi vadimo iz vrta i pripremamo za put ka Vašem stolu</span>
                </div>
            </div>

        </div>                                      <!-- /Item unit -->

        <div class="guarantee-item-container">   <!-- Item unit -->
            
            <div class="guarantee-item-icon-box">
                <img src="{% static 'resources/icons/express-delivery.png' %}" alt="ico" height:49 width=49>
            </div>

            <div class="guarantee-item-text-box">
                <div class="guarantee-item-text-header">
                    <h3>Brza dostava</h3>
                </div>
                <div class="guarantee-item-text-span">
                    <span>Proizvode dostavljamo u roku od 1-2 radna dana od narudžbe</span>
                </div>
            </div>

        </div>                                      <!-- /Item unit -->

        <div class="guarantee-item-container">   <!-- Item unit -->
            
            <div class="guarantee-item-icon-box">
                <img src="{% static 'resources/icons/desktop-computer.png' %}" alt="ico" height:49 width=49>
            </div>

            <div class="guarantee-item-text-box">
                <div class="guarantee-item-text-header">
                    <h3>Web trgovina</h3>
                </div>
                <div class="guarantee-item-text-span">
                    <span>Kupujte sigurno uz svega par klikova mišem pritom ne napuštajući udobnost vlastitog naslonjača</span>
                </div>
            </div>

        </div>                                      <!-- /Item unit -->
    </div>
</div>

