{% load static %}   

    <header class="main-hero-container">
        
        <div class="hero-content-container">

            <section class="hero-content">
                <h1>Najbolji domaći proizvodi prirodnog uzgoja naših sela. </h1>

                <div class="search-box">
                    <input placeholder="pretraži OPG blizu tebe" id="search_bar_input" class="search-bar-input" type="text" name="search_bar_input">

                    <button class="search-icon-button">
                            <img src="{% static 'resources/icons/magnifier_icon.svg' %}" alt="magnifier_icon" height=25 width=25>
                    </button>
                </div>
                <span><strong>Prijedlozi: </strong>med, mlijeko, crno vino, maslinovo ulje..</span>

            </section>

        <div>

    </header>