{% load static %}
  
  <!-- Responsive Navbar -->

   <nav id="navbar" class="navbar">
    
    <div class="logo-nav-container">

        <div class="logo">

            <img src="{% static 'resources/icons/logo_icn.svg' %}" alt="" width=47 height=41>
            <span class="media-width" id="logo-span">OPG_Plac</span>

        </div>

        <div id="nav-search-bar" class="hide">
            <input placeholder="pretraži OPG blizu tebe" id="nav_search_bar_input" class="search-bar-input" type="text" name="search_bar_input">

            <button class="search-icon-button">
                    <img src="{% static 'resources/icons/magnifier_icon.svg' %}" alt="magnifier_icon" height=15 width=15>
            </button>
        </div>

    </div>

    <a onclick="openSidebar(event)" id="toggle" href="#" class="toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>

    <ul id="nav-menu" class="nav-menu">
        <li class="media-width navitem" id="nav-link-01">Istraži</li>
        <li class="media-width navitem"> O nama</li>
        <li id="three-dot-menu-button">
            <div class="navitem">•••</div>
            
            <div class="nav-3dots-menu-container">
                <ul class="nav-3dots-menu-options">
                    <li><a href="/">Naslovna</a> </li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Proizvodi</a></li>
                    <li><a href="about">O Nama</a></li>
                    <li>
                        <a href="#">Prijava</a>
                        <span>/</span>
                        <a href="#">Registracija</a>
                    </li>
                </ul>

                <ul class="nav-3dots-social-options">
                    <li><i class="fab fa-facebook-f fa-lg"></i></li>
                    <li><i class="fab fa-twitter fa-lg"></i></li>
                    <li><i class="fab fa-linkedin-in fa-lg"></i></li>
                    <li><i class="fab fa-instagram fa-lg"></i></li>
                </ul>

            </div>
        </li>

        <li>
            <button class="join-btn">Pridruži se</button>
        </li>
    </ul>

    <aside id="nav_hamburger_sidebar" class="nav-hamburger-sidebar sidebar-hidden">
        <hr>
        <ul class="sidebar-menu">
            <li>Option one</li>
            <li>Option Two</li>
            <li>Option Three</li>
        </ul>
    </aside>

</nav>
