{% load static %}
  
  <!-- Responsive Navbar -->

  {% include 'components/utility/modal_signup.html' %}
  {% csrf_token %}

   <nav id="navbar" class="navbar">
    
    <div class="logo-nav-container">

        <a {% if user.is_authenticated %}id="nav_homepage_anchor_icon"{%endif%} class="nav_homepage_anchor_icon" href="/">
            <div class="logo">
                
                    <img src="{% static 'resources/icons/logo_icn.svg' %}" alt="" width=47 height=41>
                    <span class="media-width" id="logo-span">OPG_Plac</span>
            </div>
        </a>

        <div {% if user.is_authenticated %}id="mobile_cart"{% else %}style="display: none;"{%endif%} class="nav_shopping_cart_ico">
            <a href="/košarica">
                {% include 'components/utility/cart_ico_svg.html' %}
            </a>

            <span id="nav_cart_item_count_mobile" class="nav_cart_item_count">0</span>

        </div>

        <div id="nav-search-bar" class="hide">
            <input autocomplete="off" placeholder="Pretraži proizvode" id="nav_search_bar_input" class="search-bar-input" type="text" name="search_bar_input">

            <button class="search-icon-button">
                    <img src="{% static 'resources/icons/magnifier_icon.svg' %}" alt="magnifier_icon" height=15 width=15>
            </button>

            <div id="nav-search-bar-search-filters-container" class="nav-search-bar-search-filters-container hide-filters-box">

            </div>
            
        </div>

    </div>

    <a onclick="openSidebar(event)" id="toggle" href="#" class="toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>

    <ul id="nav-menu" class="nav-menu">
        <li class="media-width navitem"><a href="/proizvodi">Proizvodi</a></li>
        <li class="media-width navitem"><a href="/about">O nama</a></li>
        <li id="three-dot-menu-button">
            <div class="navitem">•••</div>
            
            <div class="nav-3dots-menu-container">
                <ul class="nav-3dots-menu-options">
                    <li><a href="/">Naslovna</a> </li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/proizvodi">Proizvodi</a></li>
                    <li><a href="/about">O Nama</a></li>
                    <li>
                        {% if not user.is_authenticated %}
                            <a href="/prijava">Prijava</a>
                            <span>/</span>
                            <a onclick="open_modal_signup_form(event)" href="#">Registracija</a>
                        {% endif %}
                    </li>
                </ul>

                <ul class="nav-3dots-social-options">
                    <li><i class="fab fa-facebook-f fa-lg"></i></li>
                    <li><i class="fab fa-twitter fa-lg"></i></li>
                    <li><i class="fab fa-linkedin-in fa-lg"></i></li>
                    <li><i class="fab fa-instagram fa-lg"></i></li>
                </ul>

            </div>
        </li>

        {% if user.is_authenticated %}
            <li class="nav_user_logged_profile_options">

                {% include 'components/utility/profile_ico_svg.html' with className='nav_userprof_ico_01 nav_userprof_ico'%}
                
                <svg class="nav_userprof_ico_02 nav_userprof_ico" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="451.847px" height="451.847px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;"
                xml:space="preserve">
                <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                </svg>

                <div class="nav-user-submenu-container">
                    <span>Dobrodošli, {{user.first_name|title}}</span>
                    <div class="nav-user-profile-submenu-header">
                        <div class="nav-userpro-submenu-glance-info-container">
                            {% include 'components/utility/profile_ico_svg.html'%}

                            <div class="nav-userpro-basic-info">
                                <span>{{user.first_name}} {{user.last_name}}</span>
                                <span class="nav-userpro-basic-mail-span">{{user.email}}</span>
                            </div>
                        </div>
                    </div>

                    <ul class="nav-user-submenu">
                        <li><a href="#">Moj profil</a></li>
                        <li><a href="/pregled_narudzbi">Povijest narudžbi</a></li>
                        <li><a href="#">Pomoć</a></li>
                        <li><a href="/odjava">Odjava</a></li>
                    </ul>

                </div>
            </li>

            <li class="nav_shopping_cart_ico">
                <a href="/košarica">
                    {% include 'components/utility/cart_ico_svg.html' %}
                </a>

                <span id="nav_cart_item_count" class="nav_cart_item_count">0</span>

                <script>
                    pull_cart_count()
                </script>

            </li>
        {% else %}
            <li class="join-btn">
                <button onclick="open_modal_signup_form()" class="join-btn">Pridruži se</button>
            </li>
        {% endif %}
    </ul>

    <aside id="nav_hamburger_sidebar" class="nav-hamburger-sidebar sidebar-hidden">
        <hr>
        
        {% if user.is_authenticated %}
            <div class="hamburg-sidebar-profile-glance-container">
                <div class="hamburg-logged-svg-container">
                    {% include 'components/utility/profile_ico_svg.html'%}
                </div>  

                <div class="hamburg-logged-info-container">
                    <span>{{ user.first_name }} {{ user.last_name }}</span>
                    <span>{{ user.email }}</span>
                </div>

            </div>
        {% endif %}
        <div class="nav-hamburger-sidebar-menu-container">
            <ul class="sidebar-menu">
                <li><a href="/">Naslovna</a></li>
                <li><a href="/proizvodi">Proizvodi</a></li>
                {% if user.is_authenticated %}
                <li><a href="/košarica">Košarica</a></li>
                <li><a href="/pregled_narudzbi">Povijest narudžbi</a></li>
                {% endif %}
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">O Nama</a></li>
                {% if user.is_authenticated %}
                <li><a href="/odjava">Odjavi se</a></li>
                {% endif %}
            </ul>

            {% if not user.is_authenticated %}
                <div class="sidebar-hamburger-cta-btn-container">
                    <button><a href="/prijava">Prijava</a></button>
                    <button onclick="open_modal_signup_form()">Registracija</button>
                </div>
            {% endif %}

            <ul class="nav-3dots-social-options">
                <li class="ham-icons"><i class="fab fa-facebook-f fa-lg fa-cog"></i></li>
                <li class="ham-icons"><i class="fab fa-twitter fa-lg fa-cog"></i></li>
                <li class="ham-icons"><i class="fab fa-linkedin-in fa-lg fa-cog"></i></li>
                <li class="ham-icons"><i class="fab fa-instagram fa-lg fa-cog"></i></li>
            </ul>

        </div>
    </aside>

</nav>
