{% load static %}
{% static "" as baseurl %}

<div class="blog-card-container">

    <div onclick="viewItem('{{img_url}}')" class="blog-item-image-box">
        <img class="blog-item-img-content" src="{{baseurl}}{{img_url}}" alt="blog_img">
    </div>

    <div class="blog-item-text-content-container">
        <div class="blog-item-text-headline">
            <h2 onclick="viewItem('{{img_url}}')">{{title}}</h2>
        </div>

        <div class="blog-item-content-snip">
            <span>{{content}}</span><a class="blog-item-lnk" href="#"> ... Pročitaj više</a>
        </div>
    </div>
</div>