{% extends 'components/site_frame.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'navbar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'subpages/blog/header_hero.css' %}">
    <link rel="stylesheet" href="{% static 'subpages/blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'subpages/blog/blog_item.css' %}">

{% endblock %}


{% block body %}

    {% include '../navbar.html' %}
    {% include './header_hero.html' %}
    {% include '../divider_hr_title.html' with title="Blog" %}

    <div class="blog-category-menu-container">
        <ul class="blog-category-filter-menu">
            <li id="blog-category-00" class="active">Svi Članci</li>
            <li id="blog-category-01">Novosti</li>
            <li id="blog-category-02">Recepti</li>
            <li id="blog-category-03">Savjeti</li>
            <li id="blog-category-04">Ostalo</li>
        </ul>
    </div>

    <div class="blog-items-top-conteiner">

        {% include './blog_item.html' with title="Esencijalni Vodić za Maslinovo Ulje: Blagodati i Primjenja" content="Odavno znamo da maslinovo ulje pruža pregršt korisnih svojstava, no ono što nam je manje poznato jest da Lorem ipsum dolor sit amet, adipiscing elit, sed do " img_url="resources/images/blog/olive-oil-salad-dressing-cooking-olive.jpg" %}

        {% include './blog_item.html' with title="Recept: Kraljevska Torta s Čokoladnom Glazurom" content="Recept ove torte poznat je od davnina kada se ista posluživala samo u krugovima visokog statusa, a sada.. Lorem ipsum - dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor aliqua" img_url="resources/images/blog/pexels-photo-2680603.jpeg" %}
        

        {% include './blog_item.html' with title="Recept: Kraljevska Torta s Čokoladnom Glazurom" content="Recept ove torte poznat je od davnina kada se ista posluživala samo u krugovima visokog statusa, a sada.. Lorem ipsum - dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor aliqua" img_url="resources/images/blog/pexels-photo-2680603.jpeg" %}

        {% include './blog_item.html' with title="Esencijalni Vodić za Maslinovo Ulje: Blagodati i Primjenja" content="Odavno znamo da maslinovo ulje pruža pregršt korisnih svojstava, no ono što nam je manje poznato jest da Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt labore et dolor aliqua" img_url="resources/images/blog/olive-oil-salad-dressing-cooking-olive.jpg" %}

        {% include './blog_item.html' with title="Esencijalni Vodić za Maslinovo Ulje: Blagodati i Primjenja" content="Odavno znamo da maslinovo ulje pruža pregršt korisnih svojstava, no ono što nam je manje poznato jest da Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt labore et dolor aliqua" img_url="resources/images/blog/olive-oil-salad-dressing-cooking-olive.jpg" %}

        {% include './blog_item.html' with title="Recept: Kraljevska Torta s Čokoladnom Glazurom" content="Recept ove torte poznat je od davnina kada se ista posluživala samo u krugovima visokog statusa, a sada.. Lorem ipsum - dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor aliqua" img_url="resources/images/blog/pexels-photo-2680603.jpeg" %}
        

        {% include './blog_item.html' with title="Recept: Kraljevska Torta s Čokoladnom Glazurom" content="Recept ove torte poznat je od davnina kada se ista posluživala samo u krugovima visokog statusa, a sada.. Lorem ipsum - dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor aliqua" img_url="resources/images/blog/pexels-photo-2680603.jpeg" %}

        {% include './blog_item.html' with title="Esencijalni Vodić za Maslinovo Ulje: Blagodati i Primjenja" content="Odavno znamo da maslinovo ulje pruža pregršt korisnih svojstava, no ono što nam je manje poznato jest da Lorem ipsum dolor sit amet, adipiscing elit, sed do eiusmod tempor incididunt labore et dolor aliqua" img_url="resources/images/blog/olive-oil-salad-dressing-cooking-olive.jpg" %}
        
    </div>

    <div class="blog-pagination-bar">

        <div class="blog-pagination-previous">
            <span>Previous</span>
        </div>

        <div class="pagination-numeration">
            <ul>
                <li>1</li>
                <li class="pagination-page-current">2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>

        <div class="blog-pagination-next">
            <span>Next</span>
        </div>

    </div>
    
    {% include '../footer.html' %}

    <script>
        load_navbar_listeners('noscroll');

        function viewItem(item_url){
            window.open("/blog/viewitem", "window");
        }
    </script>

{% endblock %}