{% extends 'components/site_frame.html' %}

{% block title %}Recepti, novosti i zanimljivosti - blog{% endblock %}

{% load static %}

{% block head %}
    <script src="{% static 'navbar.js' %}"></script>
    <script src="{% static 'subpages/blog/blog.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'subpages/blog/header_hero.css' %}">
    <link rel="stylesheet" href="{% static 'subpages/blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'subpages/blog/blog_item.css' %}">

{% endblock %}


{% block body %}

    {% include '../navbar.html' %}
    {% include './header_hero.html' %}
    {% include '../divider_hr_title.html' with title="Blog" %}

    <div class="blog-category-menu-container">
        <ul class="blog-category-filter-menu">

            <li id="blog-category-filter-all" class="filter-category-option active"><a href="/blog">Svi Članci</a></li>

            {% for category in categories %}

                <li class="filter-category-option" id="blog-category-filter-{{category}}"><a href="/blog/filter?category={{category}}">{{category}}</a></li>

            {% endfor %}
        </ul>
    </div>

    <div id="blog-previews-container" class="blog-items-top-conteiner">

        {% for preview in article_previews %}

            <div class="blog-card-container">

                <div onclick="viewItem('{{preview.seo_url}}')" class="blog-item-image-box">
                    <img class="blog-item-img-content" src="{{preview.img}}" alt="blog_img">
                </div>
            
                <div class="blog-item-text-content-container">
                    <div class="blog-item-text-headline">
                        <h2 onclick="viewItem('{{preview.seo_url}}')">{{preview.title}}</h2>
                    </div>
            
                    <div class="blog-item-content-snip">
                        <span>{{preview.preview}}</span><a class="blog-item-lnk" href="/blog/viewitem?article={{preview.seo_url}}">... Pročitaj više</a>
                    </div>
                </div>
            </div>

        {% endfor %}
        
    </div>

    <div class="pagination-bar">

        <div class="pagination-previous">
            <span id="pagination-previous" ><a>Previous</a></span>
        </div>

        <div class="pagination-numeration">
            <ul id="pagination-numeration">
                
            </ul>
        </div>

        <div class="pagination-next">
            <span id="pagination-next" ><a>Next</a></span>
        </div>

    </div>

    
    {% include '../footer.html' %}

    <script>
        load_navbar_listeners('noscroll');

        function viewItem(seo_url){  // Navigate to selected blog article
            window.location.href = `/blog/viewitem?article=${seo_url}`;
        }

        filter_categories("{{category_filter}}");
        do_pagination({{total_pages}}, "{{current_page}}", "{{category_filter}}")    
    </script>

{% endblock %}