{% extends 'components/site_frame.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'navbar.js' %}"></script>
    <script src="{% static 'subpages/blog/blog.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'subpages/blog/header_hero.css' %}">
    <link rel="stylesheet" href="{% static 'subpages/blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'subpages/blog/blog_item.css' %}">

{% endblock %}


{% block body %}

    {% include '../navbar.html' %}
    {% include './header_hero.html' %}
    {% include '../divider_hr_title.html' with title="Blog" %}

    <div class="blog-category-menu-container">
        <ul class="blog-category-filter-menu">

            <li onclick="filter_categories('all', 1)" id="blog-category-filter-all" class="filter-category-option active">Svi Članci</li>

            {% for category in categories %}

                <li class="filter-category-option" id="blog-category-filter-{{category}}" onclick="filter_categories('{{category}}', 1)">{{category}}</li>

            {% endfor %}
        </ul>
    </div>

    <div id="blog-previews-container" class="blog-items-top-conteiner">
        
    </div>

    <div class="blog-pagination-bar">

        <div class="blog-pagination-previous">
            <span id="blog-pagination-previous" >Previous</span>
        </div>

        <div class="pagination-numeration">
            <ul id="pagination-numeration">
                
            </ul>
        </div>

        <div class="blog-pagination-next">
            <span id="blog-pagination-next" >Next</span>
        </div>

    </div>
    
    {% include '../footer.html' %}

    <script>
        load_navbar_listeners('noscroll');

        function viewItem(seo_url){
            window.open(`/blog/viewitem?article=${seo_url}`, "window");
        }

        window.addEventListener("DOMContentLoaded", () => get_blog_previews("all", 1));
        
    </script>

{% endblock %}